<div class="mt-5">
  <div class="container">
    <div class="text-center mb-5"><%= image_tag("Coaching-logo.png", class: "logo") %></div>
    <div class="text-center">
      <% if not current_user %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-light btn-lg center-block m-2"%>
        <%= link_to "ゲストユーザーでログイン", user_session_path(user:{email: "Guest@mail.com", password: "passWo!rd21"}), class: "btn btn-outline-light btn-lg center-block m-2", method: "POST" %>
      <% end %>
      <%= search_form_for @query, url: posts_path do |f| %>
        <%= f.text_field :title_cont, placeholder: "おいしいカレーの作り方", class: "form-control mt-2 sub-color" %>
        <%= f.submit "検索してみよう！", class: "btn btn-outline-light btn-lg my-3" %>
      <% end %>
    </div>
  </div>
  <div class="container bg-white border border-info rounded-lg pb-2 my-5">
    <div class="row">
			<div class="col-4 p-0">
				<p class="text-center font-weight-bold py-2 bg-info">検索してみよう</p>
        <%= image_tag("screenshot1.png", class: "px-2 screenshot") %>
      </div>
			<div class="col-4 p-0">
				<p class="text-center font-weight-bold py-2 bg-info">フォローしてみよう</p>
        <%= image_tag("screenshot2.png", class: "px-2 screenshot") %>
      </div>
			<div class="col-4 p-0">
				<p class="text-center font-weight-bold py-2 bg-info ">自分でも投稿してみよう</p>
        <%= image_tag("screenshot3.png", class: "px-2 screenshot") %>
      </div>
    </div>
  </div>
  <div class="container bg-white border border-info rounded-lg pt-2 my-5">
    <div class="row p-2">
			<div class="col-md-12">
				<div class="text-center h1"
					<h1>最近の投稿一覧</h1>
					<div class="row bg-light m-3 rounded round-lg">
						<% if not @recentposts.nil? %>
							<% @recentposts.each do |post| %>
								<div class="col-4 offset-2"><%=  image_tag user_image(post.user), class:"avatar-sm" %></div>
								<div class="col-6 align-self-center h5"><%=  link_to post.title, "/posts/#{post.id}", class: "text-reset" %></div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
