<div class="container">
<h2 class="display-3 text-center">ユーザーを編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center form-group m-4">
    <%= f.label "ユーザー名"%><br />
    <%= f.text_field :name, autofocus: true, class: "form-control-lg", placeholder:"ユーザ名" %>
  </div>

  <div class="field text-center m-4">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control-lg" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field text-center m-4">
    <%= f.label "新しいパスワード" %> <i>(パスワードを変更する場合は新しいパスワードを入力してください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control-lg", placeholder:"新しいパスワードを入力" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上で入力してください。</em>
    <% end %>
  </div>

  <div class="field text-center m-4">
    <%= f.label "新しいパスワードを再度入力" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control-lg", placeholder:"新しいパスワードを再入力" %>
  </div>

  <div class="field text-center m-4">
    <%= f.label "現在のパスワード" %> <i>(必ず入力してください。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control-lg" %>
  </div>
  
  <div class="circle-avatar text-center m-4">
    <% if current_user.persisted? && current_user.avatar? %>
      <%= image_tag current_user.avatar.to_s %>
      <label><%= f.check_box :remove_avatar %> 画像を削除</label>
    <% else %>
      <%= image_tag 'no_avatar.png' %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
      <%= f.file_field :avatar %>
  </div>
  
  <div class="text-center mb-4">
    <%= f.submit "Update",class:"btn btn-outline-dark btn-lg center-block" %>
  </div>
  
<% end %>

<h3 class="text-center">アカウントを削除</h3>
<div class="text-center mb-4">
  <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class:"btn btn-outline-dark btn-sm center-block mb-4" %></p>
</div>
<%= link_to "Back", :back %>
</div>