<div class="container min-vh-100">
  <div class="row" style="padding:auto">
    <div class="col-sm-2">
      <% if current_user_path?(params[:id]) %>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active badge-secondary text-light" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link badge-secondary" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link badge-secondary" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Activity</a>
        <%= link_to "新規投稿", "/posts/new", class: "nav-link badge-secondary" %>
      </div>
      <% else %>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active badge-secondary text-light" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link badge-secondary" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      </div>
      <% end %>
    </div>
    <div class="col-sm-10 bg-card min-vh-100">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="text-center py-3">
            <h1><%= @user.name %></h1>    
            <%= image_tag(user_image(@user), :class => "avatar") %>
            <br>
            <div class="mt-5 py-4 bg-light" style="min-height: 220px">
              <% if current_user_path?(params[:id]) %>
                <%= form_for(@user, url: "/users/#{params[:id]}", method: "post") do |f| %>
                  <div class="field text-center form-group m-4">
                    <% @user.errors.full_messages.each do |message| %>
                      <li class="info"><%= message %></li>
                    <% end %>
                    <%= f.label "プロフィール"%><br />
                    <%= f.text_area :user_profile, autofocus: true, maxlength: "150", class: "form-control", placeholder: "150文字以内で入力してください。", rows: "3" %>
                    <%= f.submit %>
                  </div>
                <% end %>
              <% else %>
                <p class="lead">
                  <%= @user.user_profile %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">aaa</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="container">
            <% @activities.first(2).each do |activity| %>
          <div class="card m-2 mx-auto border-primary mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              
              <div class="col-md-4">
                <%= image_tag(user_image(@user), :class => "avatar-sm") %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
           
            </div>
          </div>
          <!--<% @activities.first(2).each do |activity| %>-->
          <!--  <%=  activity.owner.name %>-->
          <!--  <%=  activity.trackable.title %>-->
          <!--  <%==  activity.trackable.description %>-->
          <!--<% end %>-->
             <% end %>
          </div>
        </div>        
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div> 
      </div>
    </div>
</div>