<div class="container">
<h2 class="display-3 text-center">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-center form-group m-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-lg", placeholder:"メールアドレス" %>
  </div>

  <div class="field text-center form-group m-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control-lg", placeholder:"現在のパスワード" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-center form-group m-4">
      <%= f.check_box :remember_me %>
      <%= f.label "ログインを記憶" %>
    </div>
  <% end %>

  <div class="text-center mb-4">
    <%= f.submit "ログイン",class:"btn btn-outline-dark btn-lg center-block" %>
    <%= link_to "ゲストユーザーでログイン", user_session_path(user:{email: "Guest@mail.com", password: "password"}), class: "btn btn-outline-dark btn-lg center-block m-2", method: "POST" %>
    </div>
<% end %>

</div>
