<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="container">
  <%= form_for(@post, url: "/posts/#{@post.id}", method: "post" ) do |f| %>
  
    <% @post.errors.full_messages.each do |message| %>
      <li class="alert alert-warning"><%= message %></li>
    <% end %>
    
    <%= flash[:notice] if flash[:notice] %>
    
    <div class="form-group m-4">
      <%= f.text_field :title, class: "form-control form-control-sm", id: "title", placeholder: "タイトルを入力" %>
    </div>
    
    <div class="form-group m-4">
        <%= f.cktext_area :description, id: "editor", class:"form-control", placeholder: "#{@post.description}", style: "width: 690px;" %>
    </div>
  
    <div class="form-group m-4">
      <%= f.label "複数のタグは , で区切って入力してください" %>
      <%= f.text_field :tag_list, id: "taglist", class: "form-control", value: @post.tag_list.join(',') %>
    </div>
  
    <%= f.submit "変更", class:"btn btn-primary ml-4" %>
    <%= link_to '削除', "/posts/#{@post.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger ml-4" %>
  <% end %>
</div>

