<div class="container-fluid" >
    <div class="row" >
      <div class="col-12 my-2 align-self-center">
      <%= search_form_for @query, url: posts_path do |f| %>
        <div class="text-center">
        <%= f.text_field :title_cont, placeholder: "タイトルで検索", class:"form-control",style: " width: 80%; display: inline-block;" %>
        <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    <% @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card bg-card m-2">
          <div class="card-img-top">
            <div class="row">
              <div class="col-4 ml-4 circle-avatar-sm"><%= image_tag user_image(post.user),class:"mt-2 ml-2" %></div>
              <div class="col text-truncate font-weight-bold float-left my-auto pl-2"><%= link_to post.user.name, "/users/#{post.user_id}", class: "text-dark h3 text-truncate" %></div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center text-dark"><%= link_to post.title, "/posts/#{post.id}", class: "text-dark h3" %></h5>
            <div class="card-text bg-light text-truncate" style="height: 100px;"><%== post.description %></div>
          </div>
          <div class="card-body">
            <a class="card-link"><%= link_to "詳細ページ", "/posts/#{post.id}" %> </a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="container">
    <div class="mb-5 text-center">
        <%= paginate @posts %>
    </div>
    </div>
</div>
