<div class="container bg-card p-5">
  <div class="d-flex flex-column">
    <div class="p-2 text-center">
      <%= image_tag user_image(@post.user),class:"avatar-sm" %>
      <span class="h4"><%= link_to @post.user.name, "/users/#{@post.user.id}", class: "text-reset" %></span>
    </div>
    <div class="p-2  h1 text-center">
      <div class="row">
        <div class="col-4 offset-4">
          <%= @post.title %>
        </div>
        <div class="col-4">
          <% if current_user %>
            <% if already_pushedhe?(params[:id]) %>
            <div id="addhe">
              <%= link_to "へぇ", "/posts/#{params[:id]}/hebutton",  class: "badge badge-dark", method: :post, remote: true %>
              <%= image_tag "he-button.png" %>
              <%= Hebutton.where(post_id: params[:id]).count %>
            </div>
            <% else %>
            <div id="deletehe">
              <%= link_to "へぇ", "/posts/#{params[:id]}/hebutton", class: "badge badge-success", method: :delete, remote: true %>
              <%= image_tag "he-button.png" %>
              <%= Hebutton.where(post_id: params[:id]).count %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="p-2 flex-grow-1 text-center bg-light" style="overflow-wrap: break-word; min-height: 500px;">
      <%= sanitize @post.description,
          tags: %w(strong em a b font br p table tbody tr td ol li u img iframe span blockquote pre h1 h2 h3 h4 h5 h6 div strike hr),
          attributes: %w(href face class src style ta rget frameborder width height color) %>
    </div>
  </div>
</div>
