<div class="container bg-card p-5">
  <div class="d-flex flex-column">
    <div class="p-2 text-center">
      <%= image_tag user_image(@post.user),class:"avatar-sm" %>
      <span class="h4"><%= link_to @post.user.name, "/users/#{@post.user.id}", class: "text-reset" %></span>
    </div>
    <div class="p-2  h1 text-center">
      <div class="row">
        <div class="col-4 offset-4">
          <%= @post.title %>
        </div>
        <div class="col-4">
          <% if current_user %>
            <% if already_pushedhe?(params[:id]) %>
              <%= link_to "へぇ", "/posts/#{params[:id]}/hebutton", id: "addhe", class: "badge badge-warning", method: :post, remote: true %>
            <% else %>
              <%= link_to "へぇを取り消し", "/posts/#{params[:id]}/hebutton", id: "deletehe", class: "badge badge-warning", method: :delete, remote: true %>
            <% end %>
            <%= image_tag "he-button.png" %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="p-2 flex-grow-1 text-center bg-light" style="overflow-wrap: break-word; min-height: 500px;"><%== @post.description %></div>
  </div>
</div>
