<header>
  <nav class="navbar nav-color">
    <%= link_to(image_tag("Coaching-logo.png"), root_path, class: "logo-size" ) %>
    <% if user_signed_in? %>
      <%= link_to current_user.name, "/users/#{current_user.id}", class: "nav-item ml-auto mr-4 float-right text-dark" %>
    <% end %>
    <button class="navbar-toggler float-right" type="button"
      data-toggle="collapse"
      data-target="#navmenu1"
      aria-controls="navmenu1" 
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-item nav-link" ><%= link_to 'マイページ', "/users/#{current_user.id}", class: "text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'ユーザー一覧', users_path, class: "text-light" %></a>          
          <a class="nav-item nav-link" ><%= link_to 'プロフィール変更', edit_user_registration_path, class: "text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'コーチング一覧', posts_path, class: "text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'コーチング投稿', posts_new_path, class: "text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"text-light" %></a>
        <% else %>
          <a class="nav-item nav-link" ><%= link_to 'サインアップ', new_user_registration_path, class: "text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログイン', new_user_session_path, class: "text-light" %></a>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<% if notice %>
  <p class="alert alert-success m-3"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-warning"><%= alert %></p>
<% end %>