<header>
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to(image_tag("logo-header.png"), root_path, class:"navbar-brand") %>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navmenu1"
      aria-controls="navmenu1" 
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-item nav-link" ><%= link_to 'ユーザー一覧', users_path, class:"text-light" %></a>          
          <a class="nav-item nav-link" ><%= link_to 'プロフィール変更', edit_user_registration_path, class:"text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"text-light" %></a>
        <% else %>
          <a class="nav-item nav-link" ><%= link_to 'サインアップ', new_user_registration_path, class:"text-light" %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログイン', new_user_session_path, class:"text-light" %></a>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<% if notice %>
  <p class="alert alert-success m-3"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-warning"><%= alert %></p>
<% end %>