<header>
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><h3>Coaching</h3></a>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navmenu1"
      aria-controls="navmenu1"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-item nav-link" ><%= link_to 'プロフィール変更', edit_user_registration_path %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a>
        <% else %>
          <a class="nav-item nav-link" ><%= link_to 'サインアップ', new_user_registration_path %></a>
          <a class="nav-item nav-link" ><%= link_to 'ログイン', new_user_session_path %></a>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<p class="notice alert-success"><%= notice %></p>
<p class="alert-danger"><%= alert %></p>